USE [master]
GO
/****** Object:  Database [db30471]    Script Date: 25/10/2025 08:00:54 م ******/
CREATE DATABASE [db30471]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db30471', FILENAME = N'D:\Services\MSSQL\Data\db30471.mdf' , SIZE = 73728KB , MAXSIZE = 2097152KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db30471_log', FILENAME = N'D:\Services\MSSQL\Data\db30471_log.ldf' , SIZE = 8192KB , MAXSIZE = 10485760KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db30471].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db30471]
GO
/****** Object:  FullTextCatalog [db30471]    Script Date: 25/10/2025 08:00:56 م ******/
CREATE FULLTEXT CATALOG [db30471] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[apartments]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apartments](
	[apartment_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[building_id] [int] NULL,
	[floor_id] [int] NULL,
	[roomtype_id] [int] NULL,
	[apartment_code] [nvarchar](50) NOT NULL,
	[apartment_name] [nvarchar](200) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_apartments] PRIMARY KEY CLUSTERED 
(
	[apartment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banks]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banks](
	[bank_id] [int] IDENTITY(1,1) NOT NULL,
	[bank_code] [nvarchar](50) NULL,
	[bank_name_ar] [nvarchar](200) NOT NULL,
	[bank_name_en] [nvarchar](200) NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_default] [bit] NOT NULL,
	[swift_code] [nvarchar](20) NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bank_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buildings]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buildings](
	[building_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[building_number] [nvarchar](50) NOT NULL,
	[building_name] [nvarchar](200) NOT NULL,
	[address] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_buildings] PRIMARY KEY CLUSTERED 
(
	[building_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[config]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[config](
	[config_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[vat_percent] [decimal](5, 2) NOT NULL,
	[lodging_tax] [decimal](5, 2) NOT NULL,
	[default_currency] [nvarchar](10) NOT NULL,
	[company_name] [nvarchar](200) NOT NULL,
	[company_vatno] [nvarchar](50) NOT NULL,
	[zatca_environment] [nvarchar](50) NOT NULL,
	[zatca_device_uuid] [nvarchar](100) NOT NULL,
	[logo_url] [nvarchar](500) NOT NULL,
	[address] [nvarchar](500) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_config] PRIMARY KEY CLUSTERED 
(
	[config_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[corporate_customers]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[corporate_customers](
	[corporate_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[corporate_name] [nvarchar](200) NOT NULL,
	[corporate_name_ar] [nvarchar](200) NULL,
	[country] [nvarchar](100) NULL,
	[country_ar] [nvarchar](100) NULL,
	[vat_registration_no] [nvarchar](50) NULL,
	[commercial_registration_no] [nvarchar](50) NULL,
	[discount_method] [nvarchar](20) NULL,
	[discount_value] [decimal](10, 2) NULL,
	[city] [nvarchar](100) NULL,
	[city_ar] [nvarchar](100) NULL,
	[postal_code] [nvarchar](20) NULL,
	[address] [nvarchar](500) NULL,
	[address_ar] [nvarchar](500) NULL,
	[email] [nvarchar](100) NULL,
	[corporate_phone] [nvarchar](50) NULL,
	[contact_person_name] [nvarchar](100) NULL,
	[contact_person_name_ar] [nvarchar](100) NULL,
	[contact_person_phone] [nvarchar](50) NULL,
	[corporate_logo_url] [nvarchar](500) NULL,
	[notes] [nvarchar](1000) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[corporate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[credit_notes]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[credit_notes](
	[credit_note_id] [int] IDENTITY(1,1) NOT NULL,
	[credit_note_no] [nvarchar](50) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[invoice_id] [int] NOT NULL,
	[reservation_id] [int] NULL,
	[customer_id] [int] NOT NULL,
	[credit_note_date] [datetime] NOT NULL,
	[credit_note_date_hijri] [nvarchar](20) NULL,
	[credit_amount] [decimal](12, 2) NOT NULL,
	[original_invoice_amount] [decimal](12, 2) NULL,
	[reason] [nvarchar](500) NOT NULL,
	[notes] [nvarchar](1000) NULL,
	[is_sent_zatca] [bit] NOT NULL,
	[zatca_uuid] [nvarchar](255) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[externalrefno] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[credit_note_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_accounts]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_accounts](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[hotel_id] [int] NOT NULL,
	[balance] [decimal](12, 2) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_customer_accounts] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_identifications]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_identifications](
	[identification_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[id_type_id] [int] NOT NULL,
	[id_number] [nvarchar](50) NOT NULL,
	[version_number] [nvarchar](20) NULL,
	[issue_place] [nvarchar](100) NULL,
	[issue_place_ar] [nvarchar](100) NULL,
	[issue_date] [date] NULL,
	[expiry_date] [date] NULL,
	[notes] [nvarchar](500) NULL,
	[is_primary] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_customer_identifications] PRIMARY KEY CLUSTERED 
(
	[identification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_transactions]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_transactions](
	[trans_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[transaction_no] [nvarchar](50) NOT NULL,
	[trans_date] [datetime2](7) NOT NULL,
	[trans_type] [nvarchar](50) NOT NULL,
	[amount] [decimal](12, 2) NULL,
	[related_invoice_id] [int] NULL,
	[related_receipt_id] [int] NULL,
	[notes] [nvarchar](max) NOT NULL,
	[created_by] [int] NULL,
	[RefundId] [int] NULL,
 CONSTRAINT [PK_customer_transactions] PRIMARY KEY CLUSTERED 
(
	[trans_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_no] [nvarchar](50) NULL,
	[customer_name] [nvarchar](200) NOT NULL,
	[gtype_id] [int] NULL,
	[n_id] [int] NULL,
	[guest_category_id] [int] NULL,
	[visa_no] [nvarchar](50) NULL,
	[mobile_no] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[address] [nvarchar](500) NULL,
	[comments] [nvarchar](1000) NULL,
	[entered_by] [int] NULL,
	[entered_at] [datetime] NULL,
	[gender] [nvarchar](10) NULL,
	[birthday] [date] NULL,
	[birthdate_hijri] [nvarchar](50) NULL,
	[hotel_id] [int] NOT NULL,
	[external_ref_no] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[birthdate_gregorian] [date] NULL,
	[birthdate_hijri_day] [int] NULL,
	[birthdate_hijri_month] [int] NULL,
	[birthdate_hijri_year] [int] NULL,
	[birthdate_hijri_string] [nvarchar](50) NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discounts]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discounts](
	[discount_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[reservation_id] [int] NOT NULL,
	[unit_id] [int] NULL,
	[discount_type] [nvarchar](50) NOT NULL,
	[discount_code] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
	[apply_on] [nvarchar](20) NOT NULL,
	[calculation_method] [nvarchar](20) NOT NULL,
	[calculation_value] [decimal](10, 2) NOT NULL,
	[discount_amount] [decimal](18, 2) NOT NULL,
	[is_before_tax] [bit] NOT NULL,
	[applied_date] [datetime] NOT NULL,
	[applied_by] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[floors]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[floors](
	[floor_id] [int] IDENTITY(1,1) NOT NULL,
	[building_id] [int] NOT NULL,
	[floor_number] [int] NOT NULL,
	[floor_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_floors] PRIMARY KEY CLUSTERED 
(
	[floor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guestcategory]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guestcategory](
	[gc_id] [int] IDENTITY(1,1) NOT NULL,
	[gc_name] [nvarchar](100) NOT NULL,
	[gc_name_ar] [nvarchar](100) NULL,
	[gc_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_guestcategory] PRIMARY KEY CLUSTERED 
(
	[gc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guesttype]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guesttype](
	[gtype_id] [int] IDENTITY(1,1) NOT NULL,
	[gtype_name] [nvarchar](100) NOT NULL,
	[gtype_name_ar] [nvarchar](100) NULL,
	[gtype_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_guesttype] PRIMARY KEY CLUSTERED 
(
	[gtype_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hotels]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotels](
	[hotel_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_code] [nvarchar](50) NOT NULL,
	[hotel_name] [nvarchar](200) NOT NULL,
	[address] [nvarchar](500) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_hotels] PRIMARY KEY CLUSTERED 
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idtypes]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idtypes](
	[it_id] [int] IDENTITY(1,1) NOT NULL,
	[it_name] [nvarchar](100) NOT NULL,
	[it_name_ar] [nvarchar](100) NULL,
	[it_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_idtypes] PRIMARY KEY CLUSTERED 
(
	[it_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_no] [nvarchar](50) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[reservation_id] [int] NULL,
	[unit_id] [int] NULL,
	[customer_id] [int] NOT NULL,
	[invoice_date] [datetime2](7) NOT NULL,
	[invoice_date_hijri] [nvarchar](20) NULL,
	[invoice_type] [nvarchar](50) NOT NULL,
	[subtotal] [decimal](12, 2) NULL,
	[vat_rate] [decimal](5, 2) NULL,
	[vat_amount] [decimal](12, 2) NULL,
	[lodging_tax_rate] [decimal](5, 2) NULL,
	[lodging_tax_amount] [decimal](12, 2) NULL,
	[total_amount] [decimal](12, 2) NULL,
	[payment_status] [nvarchar](20) NOT NULL,
	[amount_paid] [decimal](12, 2) NOT NULL,
	[amount_remaining] [decimal](12, 2) NULL,
	[amount_refunded] [decimal](12, 2) NULL,
	[is_sent_zatca] [bit] NOT NULL,
	[zatca_uuid] [nvarchar](255) NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[externalrefno] [nvarchar](100) NOT NULL,
	[period_from] [date] NULL,
	[period_to] [date] NULL,
	[notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_invoices] PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[credit_notes]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[credit_notes](
	[credit_note_id] [int] IDENTITY(1,1) NOT NULL,
	[credit_note_no] [nvarchar](50) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[invoice_id] [int] NOT NULL,
	[reservation_id] [int] NULL,
	[customer_id] [int] NOT NULL,
	[credit_note_date] [datetime2](7) NOT NULL,
	[credit_note_date_hijri] [nvarchar](20) NULL,
	[credit_amount] [decimal](12, 2) NOT NULL,
	[original_invoice_amount] [decimal](12, 2) NULL,
	[reason] [nvarchar](500) NOT NULL,
	[credit_type] [nvarchar](50) NOT NULL,
	[notes] [nvarchar](1000) NULL,
	[is_sent_zatca] [bit] NOT NULL,
	[zatca_uuid] [nvarchar](255) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[externalrefno] [nvarchar](100) NULL,
 CONSTRAINT [PK_credit_notes] PRIMARY KEY CLUSTERED 
(
	[credit_note_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nationality]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nationality](
	[n_id] [int] IDENTITY(1,1) NOT NULL,
	[n_name] [nvarchar](100) NOT NULL,
	[n_name_ar] [nvarchar](100) NULL,
	[n_default] [int] NOT NULL,
	[nmtp_code] [nvarchar](20) NULL,
	[n_gulf] [int] NULL,
	[code_prefix] [nvarchar](10) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_nationality] PRIMARY KEY CLUSTERED 
(
	[n_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_methods]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_methods](
	[payment_method_id] [int] IDENTITY(1,1) NOT NULL,
	[method_code] [nvarchar](50) NOT NULL,
	[method_name] [nvarchar](100) NOT NULL,
	[method_name_ar] [nvarchar](100) NULL,
	[description] [nvarchar](500) NULL,
	[description_ar] [nvarchar](500) NULL,
	[category] [nvarchar](50) NULL,
	[icon] [nvarchar](100) NULL,
	[requires_transaction_no] [bit] NOT NULL,
	[requires_approval] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_receipts]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_receipts](
	[receipt_id] [int] IDENTITY(1,1) NOT NULL,
	[receipt_no] [nvarchar](50) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[reservation_id] [int] NULL,
	[unit_id] [int] NULL,
	[invoice_id] [int] NULL,
	[customer_id] [int] NOT NULL,
	[receipt_date] [datetime2](7) NOT NULL,
	[amount_paid] [decimal](12, 2) NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[bank_id] [int] NULL,
	[transaction_no] [nvarchar](100) NOT NULL,
	[notes] [nvarchar](max) NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[externalrefno] [nvarchar](100) NOT NULL,
	[payment_method_id] [int] NULL,
	[receipt_type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_payment_receipts] PRIMARY KEY CLUSTERED 
(
	[receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[penalties]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penalties](
	[penalty_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[reservation_id] [int] NOT NULL,
	[unit_id] [int] NULL,
	[penalty_type] [nvarchar](50) NOT NULL,
	[penalty_name] [nvarchar](100) NOT NULL,
	[penalty_name_ar] [nvarchar](100) NULL,
	[description] [nvarchar](500) NULL,
	[calculation_method] [nvarchar](50) NULL,
	[calculation_value] [decimal](10, 2) NULL,
	[base_amount] [decimal](18, 2) NOT NULL,
	[vat_rate] [decimal](5, 2) NULL,
	[vat_amount] [decimal](18, 2) NULL,
	[total_amount] [decimal](18, 2) NOT NULL,
	[applied_date] [datetime] NOT NULL,
	[applied_by] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[penalty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refunds]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refunds](
	[refund_id] [int] IDENTITY(1,1) NOT NULL,
	[refund_no] [nvarchar](50) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[reservation_id] [int] NULL,
	[unit_id] [int] NULL,
	[invoice_id] [int] NULL,
	[customer_id] [int] NOT NULL,
	[refund_date] [datetime2](7) NOT NULL,
	[refund_amount] [decimal](12, 2) NOT NULL,
	[refund_reason] [nvarchar](500) NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[bank_id] [int] NULL,
	[transaction_no] [nvarchar](100) NOT NULL,
	[notes] [nvarchar](max) NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[externalrefno] [nvarchar](100) NOT NULL,
	[payment_method_id] [int] NULL,
	[refund_type] [nvarchar](50) NOT NULL,
	[paid_from] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_refunds] PRIMARY KEY CLUSTERED 
(
	[refund_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservation_units]    Script Date: 25/10/2025 08:00:56 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservation_units](
	[unit_id] [int] IDENTITY(1,1) NOT NULL,
	[reservation_id] [int] NOT NULL,
	[apartment_id] [int] NOT NULL,
	[check_in_date] [datetime2](7) NOT NULL,
	[check_out_date] [datetime2](7) NOT NULL,
	[number_of_nights] [int] NULL,
	[rent_amount] [decimal](12, 2) NOT NULL,
	[vat_rate] [decimal](5, 2) NOT NULL,
	[vat_amount] [decimal](12, 2) NULL,
	[lodging_tax_rate] [decimal](5, 2) NOT NULL,
	[lodging_tax_amount] [decimal](12, 2) NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_reservation_units] PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 25/10/2025 08:00:57 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservations](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[reservation_no] [nvarchar](50) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[reservation_date] [datetime2](7) NOT NULL,
	[total_nights] [int] NULL,
	[total_amount] [decimal](12, 2) NULL,
	[amount_paid] [decimal](12, 2) NULL,
	[balance_amount] [decimal](12, 2) NULL,
	[status] [nvarchar](50) NOT NULL,
	[total_penalties] [decimal](18, 2) NULL,
	[total_discounts] [decimal](18, 2) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[externalrefno] [nvarchar](100) NOT NULL,
	[subtotal] [decimal](12, 2) NULL,
	[vat_rate] [decimal](5, 2) NULL,
	[vat_amount] [decimal](12, 2) NULL,
	[lodging_tax_rate] [decimal](5, 2) NULL,
	[lodging_tax_amount] [decimal](12, 2) NULL,
	[total_tax_amount] [decimal](12, 2) NULL,
	[corporate_id] [int] NULL,
	[reservation_type] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_reservations] PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_types]    Script Date: 25/10/2025 08:00:57 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_types](
	[roomtype_id] [int] IDENTITY(1,1) NOT NULL,
	[hotel_id] [int] NOT NULL,
	[roomtype_name] [nvarchar](200) NOT NULL,
	[roomtype_desc] [nvarchar](500) NOT NULL,
	[base_rate] [decimal](12, 2) NULL,
 CONSTRAINT [PK_room_types] PRIMARY KEY CLUSTERED 
(
	[roomtype_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visitpurpose]    Script Date: 25/10/2025 08:00:57 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitpurpose](
	[vp_id] [int] IDENTITY(1,1) NOT NULL,
	[vp_name] [nvarchar](100) NOT NULL,
	[vp_name_ar] [nvarchar](100) NULL,
	[description] [nvarchar](500) NULL,
	[description_ar] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[vp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251023181012_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[apartments] ON 

INSERT [dbo].[apartments] ([apartment_id], [hotel_id], [building_id], [floor_id], [roomtype_id], [apartment_code], [apartment_name], [status]) VALUES (3101, 233, 118, 586, 249, N'101', N'شقة 101 - Apartment 101', N'available')
INSERT [dbo].[apartments] ([apartment_id], [hotel_id], [building_id], [floor_id], [roomtype_id], [apartment_code], [apartment_name], [status]) VALUES (3102, 234, 119, 587, 250, N'101', N'شقة 101 - Apartment 101', N'available')
INSERT [dbo].[apartments] ([apartment_id], [hotel_id], [building_id], [floor_id], [roomtype_id], [apartment_code], [apartment_name], [status]) VALUES (3103, 235, 120, 588, 251, N'101', N'شقة 101 - Apartment 101', N'available')
SET IDENTITY_INSERT [dbo].[apartments] OFF
GO
SET IDENTITY_INSERT [dbo].[banks] ON 

INSERT [dbo].[banks] ([bank_id], [bank_code], [bank_name_ar], [bank_name_en], [is_active], [is_default], [swift_code], [sort_order], [created_at], [updated_at]) VALUES (1, N'NCB', N'البنك الأهلي', N'National Commercial Bank', 1, 0, N'NCBKSAJE', 1, CAST(N'2025-10-24T07:30:47.560' AS DateTime), NULL)
INSERT [dbo].[banks] ([bank_id], [bank_code], [bank_name_ar], [bank_name_en], [is_active], [is_default], [swift_code], [sort_order], [created_at], [updated_at]) VALUES (2, N'RIYAD', N'بنك الرياض', N'Riyad Bank', 1, 0, N'RIBLSARI', 2, CAST(N'2025-10-24T07:30:47.560' AS DateTime), NULL)
INSERT [dbo].[banks] ([bank_id], [bank_code], [bank_name_ar], [bank_name_en], [is_active], [is_default], [swift_code], [sort_order], [created_at], [updated_at]) VALUES (3, N'ALBILAD', N'بنك البلاد', N'Albilad Bank', 1, 1, N'ALBISARI', 3, CAST(N'2025-10-24T07:30:47.560' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[banks] OFF
GO
SET IDENTITY_INSERT [dbo].[buildings] ON 

INSERT [dbo].[buildings] ([building_id], [hotel_id], [building_number], [building_name], [address]) VALUES (118, 233, N'A', N'المبنى الرئيسي - Building A', N'ط§ظ„ط¯ظ…ط§ظ…طŒ ط§ظ„ظ…ظ…ظ„ظƒط© ط§ظ„ط¹ط±ط¨ظٹط© ط§ظ„ط³ط¹ظˆط¯ظٹط©')
INSERT [dbo].[buildings] ([building_id], [hotel_id], [building_number], [building_name], [address]) VALUES (119, 234, N'A', N'المبنى الرئيسي - Building A', N'ط§ظ„ط±ظٹط§ط¶طŒ ط§ظ„ظ…ظ…ظ„ظƒط© ط§ظ„ط¹ط±ط¨ظٹط© ط§ظ„ط³ط¹ظˆط¯ظٹط©')
INSERT [dbo].[buildings] ([building_id], [hotel_id], [building_number], [building_name], [address]) VALUES (120, 235, N'A', N'المبنى الرئيسي - Building A', N'ط¬ط¯ط©طŒ ط§ظ„ظ…ظ…ظ„ظƒط© ط§ظ„ط¹ط±ط¨ظٹط© ط§ظ„ط³ط¹ظˆط¯ظٹط©')
SET IDENTITY_INSERT [dbo].[buildings] OFF
GO
SET IDENTITY_INSERT [dbo].[config] ON 

INSERT [dbo].[config] ([config_id], [hotel_id], [vat_percent], [lodging_tax], [default_currency], [company_name], [company_vatno], [zatca_environment], [zatca_device_uuid], [logo_url], [address], [phone], [email]) VALUES (65, 233, CAST(15.00 AS Decimal(5, 2)), CAST(2.50 AS Decimal(5, 2)), N'SAR', N'ط´ط±ظƒط© ط§ظ„ظپظ†ط§ط¯ظ‚ ط§ظ„ط³ط¹ظˆط¯ظٹط©', N'300000000000003', N'sandbox', N'A70059B9-8D17-4BB4-B52E-6908EEA25C0C', N'/images/logos/Dammam1.png', N'ط§ظ„ظ…ظ…ظ„ظƒط© ط§ظ„ط¹ط±ط¨ظٹط© ط§ظ„ط³ط¹ظˆط¯ظٹط©', N'+966 12 345 6789', N'info@dammam1.com')
INSERT [dbo].[config] ([config_id], [hotel_id], [vat_percent], [lodging_tax], [default_currency], [company_name], [company_vatno], [zatca_environment], [zatca_device_uuid], [logo_url], [address], [phone], [email]) VALUES (66, 234, CAST(15.00 AS Decimal(5, 2)), CAST(2.50 AS Decimal(5, 2)), N'SAR', N'ط´ط±ظƒط© ط§ظ„ظپظ†ط§ط¯ظ‚ ط§ظ„ط³ط¹ظˆط¯ظٹط©', N'300000000000003', N'sandbox', N'63799204-6BED-47AE-A74A-89B2730344CF', N'/images/logos/Riyadh2.png', N'ط§ظ„ظ…ظ…ظ„ظƒط© ط§ظ„ط¹ط±ط¨ظٹط© ط§ظ„ط³ط¹ظˆط¯ظٹط©', N'+966 12 345 6789', N'info@riyadh2.com')
INSERT [dbo].[config] ([config_id], [hotel_id], [vat_percent], [lodging_tax], [default_currency], [company_name], [company_vatno], [zatca_environment], [zatca_device_uuid], [logo_url], [address], [phone], [email]) VALUES (67, 235, CAST(15.00 AS Decimal(5, 2)), CAST(2.50 AS Decimal(5, 2)), N'SAR', N'ط´ط±ظƒط© ط§ظ„ظپظ†ط§ط¯ظ‚ ط§ظ„ط³ط¹ظˆط¯ظٹط©', N'300000000000003', N'sandbox', N'44DB3CF1-5801-4D62-80FA-702509AE6A4F', N'/images/logos/Jeddah1.png', N'ط§ظ„ظ…ظ…ظ„ظƒط© ط§ظ„ط¹ط±ط¨ظٹط© ط§ظ„ط³ط¹ظˆط¯ظٹط©', N'+966 12 345 6789', N'info@jeddah1.com')
SET IDENTITY_INSERT [dbo].[config] OFF
GO
SET IDENTITY_INSERT [dbo].[corporate_customers] ON 

SET IDENTITY_INSERT [dbo].[corporate_customers] OFF
GO
SET IDENTITY_INSERT [dbo].[customer_identifications] ON 

INSERT [dbo].[customer_identifications] ([identification_id], [customer_id], [hotel_id], [id_type_id], [id_number], [version_number], [issue_place], [issue_place_ar], [issue_date], [expiry_date], [notes], [is_primary], [is_active], [created_at], [updated_at]) VALUES (1, 1, 233, 1, N'1073215889', N'1', N'الرياض', NULL, NULL, CAST(N'2030-12-31' AS Date), NULL, 1, 1, CAST(N'2025-10-24T00:28:05.733' AS DateTime), NULL)
INSERT [dbo].[customer_identifications] ([identification_id], [customer_id], [hotel_id], [id_type_id], [id_number], [version_number], [issue_place], [issue_place_ar], [issue_date], [expiry_date], [notes], [is_primary], [is_active], [created_at], [updated_at]) VALUES (2, 1, 233, 5, N'P1234567', N'2', N'جدة', NULL, NULL, CAST(N'2028-06-15' AS Date), NULL, 0, 1, CAST(N'2025-10-24T00:28:05.770' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[customer_identifications] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[floors] ON 

INSERT [dbo].[floors] ([floor_id], [building_id], [floor_number], [floor_name]) VALUES (586, 118, 1, N'الطابق الأول - Floor 1')
INSERT [dbo].[floors] ([floor_id], [building_id], [floor_number], [floor_name]) VALUES (587, 119, 1, N'الطابق الأول - Floor 1')
INSERT [dbo].[floors] ([floor_id], [building_id], [floor_number], [floor_name]) VALUES (588, 120, 1, N'الطابق الأول - Floor 1')
SET IDENTITY_INSERT [dbo].[floors] OFF
GO
SET IDENTITY_INSERT [dbo].[guestcategory] ON 

INSERT [dbo].[guestcategory] ([gc_id], [gc_name], [gc_name_ar], [gc_active], [created_at], [updated_at]) VALUES (1, N'Frequent Customer', N'عميل دائم', 1, CAST(N'2025-10-23T14:35:12.380' AS DateTime), NULL)
INSERT [dbo].[guestcategory] ([gc_id], [gc_name], [gc_name_ar], [gc_active], [created_at], [updated_at]) VALUES (2, N'Distinguished Customer', N'عميل مميز', 1, CAST(N'2025-10-23T14:35:12.380' AS DateTime), NULL)
INSERT [dbo].[guestcategory] ([gc_id], [gc_name], [gc_name_ar], [gc_active], [created_at], [updated_at]) VALUES (3, N'Regular Customer', N'عميل عادي', 1, CAST(N'2025-10-23T14:35:12.380' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[guestcategory] OFF
GO
SET IDENTITY_INSERT [dbo].[guesttype] ON 

INSERT [dbo].[guesttype] ([gtype_id], [gtype_name], [gtype_name_ar], [gtype_active], [created_at], [updated_at]) VALUES (1, N'Citizen', N'مواطن', 1, CAST(N'2025-10-23T14:35:12.520' AS DateTime), NULL)
INSERT [dbo].[guesttype] ([gtype_id], [gtype_name], [gtype_name_ar], [gtype_active], [created_at], [updated_at]) VALUES (2, N'Resident', N'مقيم', 1, CAST(N'2025-10-23T14:35:12.520' AS DateTime), NULL)
INSERT [dbo].[guesttype] ([gtype_id], [gtype_name], [gtype_name_ar], [gtype_active], [created_at], [updated_at]) VALUES (3, N'Gulf Citizen', N'مواطن خليجي', 1, CAST(N'2025-10-23T14:35:12.520' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[guesttype] OFF
GO
SET IDENTITY_INSERT [dbo].[hotels] ON 

INSERT [dbo].[hotels] ([hotel_id], [hotel_code], [hotel_name], [address], [created_at]) VALUES (233, N'Dammam1', N'الدمام 1', N'الدمام، المملكة العربية السعودية', CAST(N'2025-10-23T12:50:46.0833333' AS DateTime2))
INSERT [dbo].[hotels] ([hotel_id], [hotel_code], [hotel_name], [address], [created_at]) VALUES (234, N'Riyadh2', N'الرياض 2', N'الرياض، المملكة العربية السعودية', CAST(N'2025-10-23T12:50:46.0833333' AS DateTime2))
INSERT [dbo].[hotels] ([hotel_id], [hotel_code], [hotel_name], [address], [created_at]) VALUES (235, N'Jeddah1', N'جدة 1', N'جدة، المملكة العربية السعودية', CAST(N'2025-10-23T12:50:46.0833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[hotels] OFF
GO
SET IDENTITY_INSERT [dbo].[idtypes] ON 

INSERT [dbo].[idtypes] ([it_id], [it_name], [it_name_ar], [it_active], [created_at], [updated_at]) VALUES (1, N'ID Card', N'الهوية الوطنية', 1, CAST(N'2025-10-23T14:35:12.667' AS DateTime), NULL)
INSERT [dbo].[idtypes] ([it_id], [it_name], [it_name_ar], [it_active], [created_at], [updated_at]) VALUES (2, N'Family ID', N'بطاقة العائلة', 1, CAST(N'2025-10-23T14:35:12.667' AS DateTime), NULL)
INSERT [dbo].[idtypes] ([it_id], [it_name], [it_name_ar], [it_active], [created_at], [updated_at]) VALUES (3, N'Residence Permit', N'تصريح المقيمين', 1, CAST(N'2025-10-23T14:35:12.667' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[idtypes] OFF
GO
SET IDENTITY_INSERT [dbo].[invoices] ON 

SET IDENTITY_INSERT [dbo].[invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[nationality] ON 

INSERT [dbo].[nationality] ([n_id], [n_name], [n_name_ar], [n_default], [nmtp_code], [n_gulf], [code_prefix], [is_active], [created_at], [updated_at]) VALUES (2, N'Afghan ', N'افغانستاني', 0, N'T2_301', NULL, N'af', 1, CAST(N'2025-10-23T14:47:46.930' AS DateTime), NULL)
INSERT [dbo].[nationality] ([n_id], [n_name], [n_name_ar], [n_default], [nmtp_code], [n_gulf], [code_prefix], [is_active], [created_at], [updated_at]) VALUES (3, N'Albanian', N'الباني', 0, N'T2_502', 0, N'al', 1, CAST(N'2025-10-23T14:47:49.580' AS DateTime), NULL)
INSERT [dbo].[nationality] ([n_id], [n_name], [n_name_ar], [n_default], [nmtp_code], [n_gulf], [code_prefix], [is_active], [created_at], [updated_at]) VALUES (4, N'Aland Islander ', N'الاندي', 0, N'T2_900', NULL, N'al', 1, CAST(N'2025-10-23T14:47:52.187' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[nationality] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_methods] ON 

INSERT [dbo].[payment_methods] ([payment_method_id], [method_code], [method_name], [method_name_ar], [description], [description_ar], [category], [icon], [requires_transaction_no], [requires_approval], [is_active], [sort_order], [created_at], [updated_at]) VALUES (1, N'CASH', N'Cash', N'نقداً', NULL, NULL, N'Cash', N'cash', 0, 0, 1, 1, CAST(N'2025-10-24T02:19:43.383' AS DateTime), NULL)
INSERT [dbo].[payment_methods] ([payment_method_id], [method_code], [method_name], [method_name_ar], [description], [description_ar], [category], [icon], [requires_transaction_no], [requires_approval], [is_active], [sort_order], [created_at], [updated_at]) VALUES (2, N'MADA', N'Mada', N'مدى', NULL, NULL, N'Card', N'credit-card', 1, 0, 1, 2, CAST(N'2025-10-24T02:19:43.383' AS DateTime), NULL)
INSERT [dbo].[payment_methods] ([payment_method_id], [method_code], [method_name], [method_name_ar], [description], [description_ar], [category], [icon], [requires_transaction_no], [requires_approval], [is_active], [sort_order], [created_at], [updated_at]) VALUES (3, N'MEEZA', N'Meeza', N'ميزة', NULL, NULL, N'Card', N'credit-card', 1, 0, 1, 3, CAST(N'2025-10-24T02:19:43.383' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[payment_methods] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_receipts] ON 

INSERT [dbo].[payment_receipts] ([receipt_id], [receipt_no], [hotel_id], [reservation_id], [unit_id], [invoice_id], [customer_id], [receipt_date], [amount_paid], [payment_method], [bank_id], [transaction_no], [notes], [created_by], [created_at], [externalrefno], [payment_method_id], [receipt_type]) VALUES (4, N'REC-2025-001', 233, 1, 5, 1, 1, CAST(N'2025-10-24T06:32:20.7966667' AS DateTime2), CAST(1175.00 AS Decimal(12, 2)), N'نقدا', NULL, N'CASH-20251024-001', N'دفعة كاملة نقداً للفاتورة INV-2025-001', 1, CAST(N'2025-10-24T06:32:20.7966667' AS DateTime2), N'BK-2025-001', 1, N'receipt')
INSERT [dbo].[payment_receipts] ([receipt_id], [receipt_no], [hotel_id], [reservation_id], [unit_id], [invoice_id], [customer_id], [receipt_date], [amount_paid], [payment_method], [bank_id], [transaction_no], [notes], [created_by], [created_at], [externalrefno], [payment_method_id], [receipt_type]) VALUES (5, N'REC-2025-002', 233, 2, 6, 2, 1, CAST(N'2025-10-25T06:32:21.0300000' AS DateTime2), CAST(800.00 AS Decimal(12, 2)), N'مدى', 1, N'MADA-20251024-12345678', N'دفعة جزئية بمدى للفاتورة INV-2025-002', 1, CAST(N'2025-10-25T06:32:21.0300000' AS DateTime2), N'BK-2025-002', 2, N'receipt')
SET IDENTITY_INSERT [dbo].[payment_receipts] OFF
GO
SET IDENTITY_INSERT [dbo].[reservation_units] ON 

SET IDENTITY_INSERT [dbo].[reservation_units] OFF
GO
SET IDENTITY_INSERT [dbo].[reservations] ON 

SET IDENTITY_INSERT [dbo].[reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[room_types] ON 

INSERT [dbo].[room_types] ([roomtype_id], [hotel_id], [roomtype_name], [roomtype_desc], [base_rate]) VALUES (249, 233, N'غرفة قياسية - Standard Room', N'غرفة بسرير مزدوج مع دورة مياه ومكيف', CAST(300.00 AS Decimal(12, 2)))
INSERT [dbo].[room_types] ([roomtype_id], [hotel_id], [roomtype_name], [roomtype_desc], [base_rate]) VALUES (250, 234, N'غرفة قياسية - Standard Room', N'غرفة بسرير مزدوج مع دورة مياه ومكيف', CAST(300.00 AS Decimal(12, 2)))
INSERT [dbo].[room_types] ([roomtype_id], [hotel_id], [roomtype_name], [roomtype_desc], [base_rate]) VALUES (251, 235, N'غرفة قياسية - Standard Room', N'غرفة بسرير مزدوج مع دورة مياه ومكيف', CAST(300.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[room_types] OFF
GO
SET IDENTITY_INSERT [dbo].[visitpurpose] ON 

INSERT [dbo].[visitpurpose] ([vp_id], [vp_name], [vp_name_ar], [description], [description_ar], [is_active], [sort_order], [created_at], [updated_at]) VALUES (1, N'vp_name', N'vp_name_ar', NULL, NULL, 1, 0, CAST(N'2025-10-24T01:07:10.147' AS DateTime), NULL)
INSERT [dbo].[visitpurpose] ([vp_id], [vp_name], [vp_name_ar], [description], [description_ar], [is_active], [sort_order], [created_at], [updated_at]) VALUES (2, N'Tourisma', N'السياحة', NULL, NULL, 1, 0, CAST(N'2025-10-24T01:07:12.733' AS DateTime), NULL)
INSERT [dbo].[visitpurpose] ([vp_id], [vp_name], [vp_name_ar], [description], [description_ar], [is_active], [sort_order], [created_at], [updated_at]) VALUES (3, N'Family or Friends', N'زيارة الأقارب و الأصدقاء ', NULL, NULL, 1, 0, CAST(N'2025-10-24T01:07:15.320' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[visitpurpose] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_apartments_apartment_code]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_apartments_apartment_code] ON [dbo].[apartments]
(
	[apartment_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_apartments_building_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_apartments_building_id] ON [dbo].[apartments]
(
	[building_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_apartments_floor_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_apartments_floor_id] ON [dbo].[apartments]
(
	[floor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_apartments_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_apartments_hotel_id] ON [dbo].[apartments]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_apartments_roomtype_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_apartments_roomtype_id] ON [dbo].[apartments]
(
	[roomtype_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_banks_bank_code]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_banks_bank_code] ON [dbo].[banks]
(
	[bank_code] ASC
)
WHERE ([bank_code] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_banks_is_active]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_banks_is_active] ON [dbo].[banks]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_banks_is_default]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_banks_is_default] ON [dbo].[banks]
(
	[is_default] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_buildings_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_buildings_hotel_id] ON [dbo].[buildings]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_config_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_config_hotel_id] ON [dbo].[config]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_corporate_customers_corporate_name]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_corporate_customers_corporate_name] ON [dbo].[corporate_customers]
(
	[corporate_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_corporate_customers_email]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_corporate_customers_email] ON [dbo].[corporate_customers]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_corporate_customers_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_corporate_customers_hotel_id] ON [dbo].[corporate_customers]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_corporate_customers_is_active]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_corporate_customers_is_active] ON [dbo].[corporate_customers]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_corporate_customers_vat_registration_no]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_corporate_customers_vat_registration_no] ON [dbo].[corporate_customers]
(
	[vat_registration_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__credit_n__66B9390B5F130B99]    Script Date: 25/10/2025 08:01:15 م ******/
ALTER TABLE [dbo].[credit_notes] ADD UNIQUE NONCLUSTERED 
(
	[credit_note_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_credit_notes_credit_note_date]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_credit_notes_credit_note_date] ON [dbo].[credit_notes]
(
	[credit_note_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_credit_notes_customer_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_credit_notes_customer_id] ON [dbo].[credit_notes]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_credit_notes_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_credit_notes_hotel_id] ON [dbo].[credit_notes]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_credit_notes_invoice_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_credit_notes_invoice_id] ON [dbo].[credit_notes]
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_credit_notes_reservation_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_credit_notes_reservation_id] ON [dbo].[credit_notes]
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_accounts_customer_id_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_customer_accounts_customer_id_hotel_id] ON [dbo].[customer_accounts]
(
	[customer_id] ASC,
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_accounts_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customer_accounts_hotel_id] ON [dbo].[customer_accounts]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_identifications_customer]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customer_identifications_customer] ON [dbo].[customer_identifications]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_identifications_hotel]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customer_identifications_hotel] ON [dbo].[customer_identifications]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_customer_identifications_id_number]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customer_identifications_id_number] ON [dbo].[customer_identifications]
(
	[id_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_identifications_id_type]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customer_identifications_id_type] ON [dbo].[customer_identifications]
(
	[id_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_transactions_account_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customer_transactions_account_id] ON [dbo].[customer_transactions]
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_transactions_RefundId]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customer_transactions_RefundId] ON [dbo].[customer_transactions]
(
	[RefundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_transactions_related_invoice_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customer_transactions_related_invoice_id] ON [dbo].[customer_transactions]
(
	[related_invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customer_transactions_related_receipt_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customer_transactions_related_receipt_id] ON [dbo].[customer_transactions]
(
	[related_receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_customer_transactions_transaction_no]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_customer_transactions_transaction_no] ON [dbo].[customer_transactions]
(
	[transaction_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_customers_external_ref_no]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customers_external_ref_no] ON [dbo].[customers]
(
	[external_ref_no] ASC
)
WHERE ([external_ref_no] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customers_gtype_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customers_gtype_id] ON [dbo].[customers]
(
	[gtype_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customers_guest_category_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customers_guest_category_id] ON [dbo].[customers]
(
	[guest_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customers_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customers_hotel_id] ON [dbo].[customers]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customers_id_type]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_customers_id_type] ON [dbo].[customers]
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_discounts_code]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_discounts_code] ON [dbo].[discounts]
(
	[discount_code] ASC
)
WHERE ([discount_code] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_discounts_hotel]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_discounts_hotel] ON [dbo].[discounts]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_discounts_reservation]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_discounts_reservation] ON [dbo].[discounts]
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_floors_building_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_floors_building_id] ON [dbo].[floors]
(
	[building_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_hotels_hotel_code]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_hotels_hotel_code] ON [dbo].[hotels]
(
	[hotel_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_invoices_externalrefno]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_invoices_externalrefno] ON [dbo].[invoices]
(
	[externalrefno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoices_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_invoices_hotel_id] ON [dbo].[invoices]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_invoices_invoice_date_hijri]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_invoices_invoice_date_hijri] ON [dbo].[invoices]
(
	[invoice_date_hijri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_invoices_invoice_no]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_invoices_invoice_no] ON [dbo].[invoices]
(
	[invoice_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_invoices_payment_status]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_invoices_payment_status] ON [dbo].[invoices]
(
	[payment_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoices_period_from]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_invoices_period_from] ON [dbo].[invoices]
(
	[period_from] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoices_period_to]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_invoices_period_to] ON [dbo].[invoices]
(
	[period_to] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoices_reservation_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_invoices_reservation_id] ON [dbo].[invoices]
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoices_unit_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_invoices_unit_id] ON [dbo].[invoices]
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_nationality_code_prefix]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_nationality_code_prefix] ON [dbo].[nationality]
(
	[code_prefix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_nationality_n_gulf]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_nationality_n_gulf] ON [dbo].[nationality]
(
	[n_gulf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_nationality_n_name]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_nationality_n_name] ON [dbo].[nationality]
(
	[n_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payment___151BA0F0777C9B69]    Script Date: 25/10/2025 08:01:15 م ******/
ALTER TABLE [dbo].[payment_methods] ADD UNIQUE NONCLUSTERED 
(
	[method_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_payment_methods_category]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_methods_category] ON [dbo].[payment_methods]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payment_methods_is_active]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_methods_is_active] ON [dbo].[payment_methods]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_payment_methods_method_code]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_payment_methods_method_code] ON [dbo].[payment_methods]
(
	[method_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_payment_methods_method_name]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_methods_method_name] ON [dbo].[payment_methods]
(
	[method_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payment_methods_sort_order]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_methods_sort_order] ON [dbo].[payment_methods]
(
	[sort_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_payment_receipts_externalrefno]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_receipts_externalrefno] ON [dbo].[payment_receipts]
(
	[externalrefno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payment_receipts_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_receipts_hotel_id] ON [dbo].[payment_receipts]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payment_receipts_invoice_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_receipts_invoice_id] ON [dbo].[payment_receipts]
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payment_receipts_payment_method_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_receipts_payment_method_id] ON [dbo].[payment_receipts]
(
	[payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_payment_receipts_receipt_no]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_payment_receipts_receipt_no] ON [dbo].[payment_receipts]
(
	[receipt_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_payment_receipts_receipt_type]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_receipts_receipt_type] ON [dbo].[payment_receipts]
(
	[receipt_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payment_receipts_reservation_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_receipts_reservation_id] ON [dbo].[payment_receipts]
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payment_receipts_unit_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_payment_receipts_unit_id] ON [dbo].[payment_receipts]
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_penalties_hotel]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_penalties_hotel] ON [dbo].[penalties]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_penalties_reservation]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_penalties_reservation] ON [dbo].[penalties]
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_refunds_externalrefno]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_refunds_externalrefno] ON [dbo].[refunds]
(
	[externalrefno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refunds_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_refunds_hotel_id] ON [dbo].[refunds]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refunds_invoice_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_refunds_invoice_id] ON [dbo].[refunds]
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_refunds_paid_from]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_refunds_paid_from] ON [dbo].[refunds]
(
	[paid_from] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refunds_payment_method_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_refunds_payment_method_id] ON [dbo].[refunds]
(
	[payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_refunds_refund_no]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_refunds_refund_no] ON [dbo].[refunds]
(
	[refund_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_refunds_refund_type]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_refunds_refund_type] ON [dbo].[refunds]
(
	[refund_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refunds_reservation_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_refunds_reservation_id] ON [dbo].[refunds]
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refunds_unit_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_refunds_unit_id] ON [dbo].[refunds]
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reservation_units_apartment_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_reservation_units_apartment_id] ON [dbo].[reservation_units]
(
	[apartment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reservation_units_reservation_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_reservation_units_reservation_id] ON [dbo].[reservation_units]
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reservations_corporate_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_reservations_corporate_id] ON [dbo].[reservations]
(
	[corporate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_reservations_externalrefno]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_reservations_externalrefno] ON [dbo].[reservations]
(
	[externalrefno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reservations_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_reservations_hotel_id] ON [dbo].[reservations]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_reservations_reservation_no]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_reservations_reservation_no] ON [dbo].[reservations]
(
	[reservation_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_reservations_reservation_type]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_reservations_reservation_type] ON [dbo].[reservations]
(
	[reservation_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_reservations_status]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_reservations_status] ON [dbo].[reservations]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reservations_subtotal]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_reservations_subtotal] ON [dbo].[reservations]
(
	[subtotal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reservations_total_tax_amount]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_reservations_total_tax_amount] ON [dbo].[reservations]
(
	[total_tax_amount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_room_types_hotel_id]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_room_types_hotel_id] ON [dbo].[room_types]
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_visitpurpose_is_active]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_visitpurpose_is_active] ON [dbo].[visitpurpose]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_visitpurpose_sort_order]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_visitpurpose_sort_order] ON [dbo].[visitpurpose]
(
	[sort_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_visitpurpose_vp_name]    Script Date: 25/10/2025 08:01:15 م ******/
CREATE NONCLUSTERED INDEX [IX_visitpurpose_vp_name] ON [dbo].[visitpurpose]
(
	[vp_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[banks] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[banks] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[banks] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[banks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[corporate_customers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[corporate_customers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[credit_notes] ADD  DEFAULT (getdate()) FOR [credit_note_date]
GO
ALTER TABLE [dbo].[credit_notes] ADD  DEFAULT ((0)) FOR [is_sent_zatca]
GO
ALTER TABLE [dbo].[credit_notes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[credit_notes] ADD  DEFAULT ('refund') FOR [credit_type]
GO
ALTER TABLE [dbo].[customer_identifications] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[customer_identifications] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[customer_identifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [DF__customers__is_ac__0E6E26BF]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [DF__customers__creat__0F624AF8]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[discounts] ADD  DEFAULT ((1)) FOR [is_before_tax]
GO
ALTER TABLE [dbo].[discounts] ADD  DEFAULT (getdate()) FOR [applied_date]
GO
ALTER TABLE [dbo].[discounts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[discounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[guestcategory] ADD  DEFAULT ((1)) FOR [gc_active]
GO
ALTER TABLE [dbo].[guestcategory] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[guesttype] ADD  DEFAULT ((1)) FOR [gtype_active]
GO
ALTER TABLE [dbo].[guesttype] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[idtypes] ADD  DEFAULT ((1)) FOR [it_active]
GO
ALTER TABLE [dbo].[idtypes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoices] ADD  CONSTRAINT [DF__invoices__lodgin__73852659]  DEFAULT ((2.50)) FOR [lodging_tax_rate]
GO
ALTER TABLE [dbo].[nationality] ADD  DEFAULT ((0)) FOR [n_default]
GO
ALTER TABLE [dbo].[nationality] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[nationality] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payment_methods] ADD  DEFAULT ((0)) FOR [requires_transaction_no]
GO
ALTER TABLE [dbo].[payment_methods] ADD  DEFAULT ((0)) FOR [requires_approval]
GO
ALTER TABLE [dbo].[payment_methods] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[payment_methods] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[payment_methods] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payment_receipts] ADD  DEFAULT (N'receipt') FOR [receipt_type]
GO
ALTER TABLE [dbo].[penalties] ADD  DEFAULT ((15.00)) FOR [vat_rate]
GO
ALTER TABLE [dbo].[penalties] ADD  DEFAULT (getdate()) FOR [applied_date]
GO
ALTER TABLE [dbo].[penalties] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[penalties] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[refunds] ADD  DEFAULT (N'refund') FOR [refund_type]
GO
ALTER TABLE [dbo].[refunds] ADD  DEFAULT (N'drawer') FOR [paid_from]
GO
ALTER TABLE [dbo].[reservations] ADD  CONSTRAINT [DF__reservati__total__2A164134]  DEFAULT ((0)) FOR [total_penalties]
GO
ALTER TABLE [dbo].[reservations] ADD  CONSTRAINT [DF__reservati__total__2B0A656D]  DEFAULT ((0)) FOR [total_discounts]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT ((15.00)) FOR [vat_rate]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT ((2.50)) FOR [lodging_tax_rate]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (N'Individual') FOR [reservation_type]
GO
ALTER TABLE [dbo].[visitpurpose] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[visitpurpose] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[visitpurpose] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[apartments]  WITH CHECK ADD  CONSTRAINT [FK_apartments_buildings_building_id] FOREIGN KEY([building_id])
REFERENCES [dbo].[buildings] ([building_id])
GO
ALTER TABLE [dbo].[apartments] CHECK CONSTRAINT [FK_apartments_buildings_building_id]
GO
ALTER TABLE [dbo].[apartments]  WITH CHECK ADD  CONSTRAINT [FK_apartments_floors_floor_id] FOREIGN KEY([floor_id])
REFERENCES [dbo].[floors] ([floor_id])
GO
ALTER TABLE [dbo].[apartments] CHECK CONSTRAINT [FK_apartments_floors_floor_id]
GO
ALTER TABLE [dbo].[apartments]  WITH CHECK ADD  CONSTRAINT [FK_apartments_hotels_hotel_id] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[apartments] CHECK CONSTRAINT [FK_apartments_hotels_hotel_id]
GO
ALTER TABLE [dbo].[apartments]  WITH CHECK ADD  CONSTRAINT [FK_apartments_room_types_roomtype_id] FOREIGN KEY([roomtype_id])
REFERENCES [dbo].[room_types] ([roomtype_id])
GO
ALTER TABLE [dbo].[apartments] CHECK CONSTRAINT [FK_apartments_room_types_roomtype_id]
GO
ALTER TABLE [dbo].[buildings]  WITH CHECK ADD  CONSTRAINT [FK_buildings_hotels_hotel_id] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[buildings] CHECK CONSTRAINT [FK_buildings_hotels_hotel_id]
GO
ALTER TABLE [dbo].[config]  WITH CHECK ADD  CONSTRAINT [FK_config_hotels_hotel_id] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[config] CHECK CONSTRAINT [FK_config_hotels_hotel_id]
GO
ALTER TABLE [dbo].[corporate_customers]  WITH CHECK ADD  CONSTRAINT [FK_corporate_customers_hotels] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[corporate_customers] CHECK CONSTRAINT [FK_corporate_customers_hotels]
GO
ALTER TABLE [dbo].[credit_notes]  WITH CHECK ADD  CONSTRAINT [FK_credit_notes_hotels] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[credit_notes] CHECK CONSTRAINT [FK_credit_notes_hotels]
GO
ALTER TABLE [dbo].[credit_notes]  WITH CHECK ADD  CONSTRAINT [FK_credit_notes_invoices] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[credit_notes] CHECK CONSTRAINT [FK_credit_notes_invoices]
GO
ALTER TABLE [dbo].[credit_notes]  WITH CHECK ADD  CONSTRAINT [FK_credit_notes_reservations] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([reservation_id])
GO
ALTER TABLE [dbo].[credit_notes] CHECK CONSTRAINT [FK_credit_notes_reservations]
GO
ALTER TABLE [dbo].[customer_accounts]  WITH CHECK ADD  CONSTRAINT [FK_customer_accounts_hotels_hotel_id] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[customer_accounts] CHECK CONSTRAINT [FK_customer_accounts_hotels_hotel_id]
GO
ALTER TABLE [dbo].[customer_identifications]  WITH CHECK ADD  CONSTRAINT [FK_customer_identifications_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[customer_identifications] CHECK CONSTRAINT [FK_customer_identifications_customers]
GO
ALTER TABLE [dbo].[customer_identifications]  WITH CHECK ADD  CONSTRAINT [FK_customer_identifications_hotels] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[customer_identifications] CHECK CONSTRAINT [FK_customer_identifications_hotels]
GO
ALTER TABLE [dbo].[customer_identifications]  WITH CHECK ADD  CONSTRAINT [FK_customer_identifications_idtypes] FOREIGN KEY([id_type_id])
REFERENCES [dbo].[idtypes] ([it_id])
GO
ALTER TABLE [dbo].[customer_identifications] CHECK CONSTRAINT [FK_customer_identifications_idtypes]
GO
ALTER TABLE [dbo].[customer_transactions]  WITH CHECK ADD  CONSTRAINT [FK_customer_transactions_customer_accounts_account_id] FOREIGN KEY([account_id])
REFERENCES [dbo].[customer_accounts] ([account_id])
GO
ALTER TABLE [dbo].[customer_transactions] CHECK CONSTRAINT [FK_customer_transactions_customer_accounts_account_id]
GO
ALTER TABLE [dbo].[customer_transactions]  WITH CHECK ADD  CONSTRAINT [FK_customer_transactions_invoices_related_invoice_id] FOREIGN KEY([related_invoice_id])
REFERENCES [dbo].[invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[customer_transactions] CHECK CONSTRAINT [FK_customer_transactions_invoices_related_invoice_id]
GO
ALTER TABLE [dbo].[customer_transactions]  WITH CHECK ADD  CONSTRAINT [FK_customer_transactions_payment_receipts_related_receipt_id] FOREIGN KEY([related_receipt_id])
REFERENCES [dbo].[payment_receipts] ([receipt_id])
GO
ALTER TABLE [dbo].[customer_transactions] CHECK CONSTRAINT [FK_customer_transactions_payment_receipts_related_receipt_id]
GO
ALTER TABLE [dbo].[customer_transactions]  WITH CHECK ADD  CONSTRAINT [FK_customer_transactions_refunds_RefundId] FOREIGN KEY([RefundId])
REFERENCES [dbo].[refunds] ([refund_id])
GO
ALTER TABLE [dbo].[customer_transactions] CHECK CONSTRAINT [FK_customer_transactions_refunds_RefundId]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_guestcategory] FOREIGN KEY([guest_category_id])
REFERENCES [dbo].[guestcategory] ([gc_id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_guestcategory]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_guesttype] FOREIGN KEY([gtype_id])
REFERENCES [dbo].[guesttype] ([gtype_id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_guesttype]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_idtypes] FOREIGN KEY([id_type])
REFERENCES [dbo].[idtypes] ([it_id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_idtypes]
GO
ALTER TABLE [dbo].[discounts]  WITH CHECK ADD  CONSTRAINT [FK_discounts_hotels] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[discounts] CHECK CONSTRAINT [FK_discounts_hotels]
GO
ALTER TABLE [dbo].[discounts]  WITH CHECK ADD  CONSTRAINT [FK_discounts_reservations] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([reservation_id])
GO
ALTER TABLE [dbo].[discounts] CHECK CONSTRAINT [FK_discounts_reservations]
GO
ALTER TABLE [dbo].[discounts]  WITH CHECK ADD  CONSTRAINT [FK_discounts_units] FOREIGN KEY([unit_id])
REFERENCES [dbo].[reservation_units] ([unit_id])
GO
ALTER TABLE [dbo].[discounts] CHECK CONSTRAINT [FK_discounts_units]
GO
ALTER TABLE [dbo].[floors]  WITH CHECK ADD  CONSTRAINT [FK_floors_buildings_building_id] FOREIGN KEY([building_id])
REFERENCES [dbo].[buildings] ([building_id])
GO
ALTER TABLE [dbo].[floors] CHECK CONSTRAINT [FK_floors_buildings_building_id]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_hotels_hotel_id] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_hotels_hotel_id]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_reservation_units_unit_id] FOREIGN KEY([unit_id])
REFERENCES [dbo].[reservation_units] ([unit_id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_reservation_units_unit_id]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_reservations_reservation_id] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([reservation_id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_reservations_reservation_id]
GO
ALTER TABLE [dbo].[payment_receipts]  WITH CHECK ADD  CONSTRAINT [FK_payment_receipts_hotels_hotel_id] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[payment_receipts] CHECK CONSTRAINT [FK_payment_receipts_hotels_hotel_id]
GO
ALTER TABLE [dbo].[payment_receipts]  WITH CHECK ADD  CONSTRAINT [FK_payment_receipts_invoices_invoice_id] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[payment_receipts] CHECK CONSTRAINT [FK_payment_receipts_invoices_invoice_id]
GO
ALTER TABLE [dbo].[payment_receipts]  WITH CHECK ADD  CONSTRAINT [FK_payment_receipts_payment_methods] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_methods] ([payment_method_id])
GO
ALTER TABLE [dbo].[payment_receipts] CHECK CONSTRAINT [FK_payment_receipts_payment_methods]
GO
ALTER TABLE [dbo].[payment_receipts]  WITH CHECK ADD  CONSTRAINT [FK_payment_receipts_reservation_units_unit_id] FOREIGN KEY([unit_id])
REFERENCES [dbo].[reservation_units] ([unit_id])
GO
ALTER TABLE [dbo].[payment_receipts] CHECK CONSTRAINT [FK_payment_receipts_reservation_units_unit_id]
GO
ALTER TABLE [dbo].[payment_receipts]  WITH CHECK ADD  CONSTRAINT [FK_payment_receipts_reservations_reservation_id] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([reservation_id])
GO
ALTER TABLE [dbo].[payment_receipts] CHECK CONSTRAINT [FK_payment_receipts_reservations_reservation_id]
GO
ALTER TABLE [dbo].[penalties]  WITH CHECK ADD  CONSTRAINT [FK_penalties_hotels] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[penalties] CHECK CONSTRAINT [FK_penalties_hotels]
GO
ALTER TABLE [dbo].[penalties]  WITH CHECK ADD  CONSTRAINT [FK_penalties_reservations] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([reservation_id])
GO
ALTER TABLE [dbo].[penalties] CHECK CONSTRAINT [FK_penalties_reservations]
GO
ALTER TABLE [dbo].[penalties]  WITH CHECK ADD  CONSTRAINT [FK_penalties_units] FOREIGN KEY([unit_id])
REFERENCES [dbo].[reservation_units] ([unit_id])
GO
ALTER TABLE [dbo].[penalties] CHECK CONSTRAINT [FK_penalties_units]
GO
ALTER TABLE [dbo].[refunds]  WITH CHECK ADD  CONSTRAINT [FK_refunds_hotels_hotel_id] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[refunds] CHECK CONSTRAINT [FK_refunds_hotels_hotel_id]
GO
ALTER TABLE [dbo].[refunds]  WITH CHECK ADD  CONSTRAINT [FK_refunds_invoices_invoice_id] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[refunds] CHECK CONSTRAINT [FK_refunds_invoices_invoice_id]
GO
ALTER TABLE [dbo].[refunds]  WITH CHECK ADD  CONSTRAINT [FK_refunds_payment_methods] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_methods] ([payment_method_id])
GO
ALTER TABLE [dbo].[refunds] CHECK CONSTRAINT [FK_refunds_payment_methods]
GO
ALTER TABLE [dbo].[refunds]  WITH CHECK ADD  CONSTRAINT [FK_refunds_reservation_units_unit_id] FOREIGN KEY([unit_id])
REFERENCES [dbo].[reservation_units] ([unit_id])
GO
ALTER TABLE [dbo].[refunds] CHECK CONSTRAINT [FK_refunds_reservation_units_unit_id]
GO
ALTER TABLE [dbo].[refunds]  WITH CHECK ADD  CONSTRAINT [FK_refunds_reservations_reservation_id] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([reservation_id])
GO
ALTER TABLE [dbo].[refunds] CHECK CONSTRAINT [FK_refunds_reservations_reservation_id]
GO
ALTER TABLE [dbo].[reservation_units]  WITH CHECK ADD  CONSTRAINT [FK_reservation_units_apartments_apartment_id] FOREIGN KEY([apartment_id])
REFERENCES [dbo].[apartments] ([apartment_id])
GO
ALTER TABLE [dbo].[reservation_units] CHECK CONSTRAINT [FK_reservation_units_apartments_apartment_id]
GO
ALTER TABLE [dbo].[reservation_units]  WITH CHECK ADD  CONSTRAINT [FK_reservation_units_reservations_reservation_id] FOREIGN KEY([reservation_id])
REFERENCES [dbo].[reservations] ([reservation_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reservation_units] CHECK CONSTRAINT [FK_reservation_units_reservations_reservation_id]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK_reservations_corporate_customers] FOREIGN KEY([corporate_id])
REFERENCES [dbo].[corporate_customers] ([corporate_id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK_reservations_corporate_customers]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK_reservations_hotels_hotel_id] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK_reservations_hotels_hotel_id]
GO
ALTER TABLE [dbo].[room_types]  WITH CHECK ADD  CONSTRAINT [FK_room_types_hotels_hotel_id] FOREIGN KEY([hotel_id])
REFERENCES [dbo].[hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[room_types] CHECK CONSTRAINT [FK_room_types_hotels_hotel_id]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [CK_reservations_status] CHECK  (([status]='Cancelled' OR [status]='CheckedOut' OR [status]='CheckedIn' OR [status]='Confirmed' OR [status]='Unconfirmed'))
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [CK_reservations_status]
GO
USE [master]
GO
